<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ariefzuhri.gizee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_96"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_96"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gizee">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />

        <activity android:name="com.ariefzuhri.gizee.details.DetailsActivity" />

        <activity
            android:name="com.ariefzuhri.gizee.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ariefzuhri.gizee.main.MainActivity" />
    </application>

</manifest>