<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ariefzuhri.gizee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gizee"
        tools:ignore="AllowBackup">
        <activity android:name="com.ariefzuhri.gizee.details.DetailsActivity" />
        <activity android:name="com.ariefzuhri.gizee.favorites.FavoritesActivity" />
        <activity android:name="com.ariefzuhri.gizee.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ariefzuhri.gizee.home.HomeActivity" />
    </application>

</manifest>